body {
	font-family: arial, helvetica, sans-serif;
	font-size: 1.0em;
	background-color: black;
	color: white;
}

table {
	font-size: 1.1em;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	width:100%;
	font-style: bold;
	
}